.login{
    justify-content: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    margin-top: 100px;
}

.formulario h1{
    color: rgb(218, 241, 5);
    
}

.formulario input{
    margin: 10px;
    height: 30px;
    color: rgb(213, 228, 7);
    padding: 5px;

}

.formulario button{
    margin: 10px;
    height: 30px;
    width: 120px;
    color: rgb(213, 228, 7);
}